.App{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background:linear-gradient(135deg, #fbfbfc 0%,#f6f7f9 100%);
}
.App__LeftPaneContainer{
  grid-column: 1 / span 1;
}
.App__RightPaneContainer{
  grid-column: 2 / -1;
}
